body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 150px); /* Three columns */
    grid-gap: 20px;
}

.button-container {
    text-align: center; /* Center align text and button */
}

.button-image {
    width: 100px; /* Adjust as necessary */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between image and button */
}

.nipple {
    width: 100px;
    height: 100px;
    background-color: #ff5722;
    border: 5px solid #fff;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nipple:hover {
    background-color: #ff3d00;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.nipple:active {
    background-color: #d84315;
    transform: scale(0.95);
    box-shadow: none;
}

p {
    color: white;
    font-size: 16px; /* Adjust size as necessary */
}

/* To ensure two rows of three buttons */
@media screen and (max-width: 600px) {
    .board {
        grid-template-columns: repeat(2, 150px); /* Two columns for smaller screens */
    }
}
